<% @flats.each do |flat| %>
<div class="wrapper">
  <h2><a href="<%= flat_path(flat) %>"><%= flat.name %></a></h2>
  <div class="image i1"></div>
  <div class="details"><h1><em><%= flat.address %></em></h1>
  <h3><%= flat.description.truncate(50) %>...</h3>
  <p>Number of Guests: <%= flat.number_of_guests %></p></div>
  <h2>$<%= flat.price_per_night %></h2>
</div>
<% end %>
